*{margin: 0;padding: 0;}
li{list-style:none;}
a{text-decoration: none;}
body{font-family: "微软雅黑";color: #fff;background-color: #000;}
.nav{height: 85px;margin-bottom:80px;}
.nav .logo{float: left;margin-top: 25px;margin-left: 68px;}
.nav_nav{float: left;width: 1603px;margin-left: 68px;}
.nav_nav1{float: left;margin-top: 28px;font-size: 18px;color: #fff;}
.nav_li{float: right;}
.nav_li ul li{display: inline-block;color: #fff;font-size: 18px;padding: 28px 30px 25px;}
.nav_li ul li:hover{border-bottom: 7px solid #41f5ef;color: #41f5ef;transition: all 0.3s linear;}

.top{width: 1600px;height: 222px;margin: 0 auto;border-bottom: 2px solid #292727;margin-bottom: 96px;}
.top h1{margin-bottom: 35px;}
.top span{font-size: 20px;}
.top_a{width: 1600px;height: 112px;margin: 0 auto;}
.top_a span{margin-right: 100px;}
.top_a a{color:#868686;margin-right: 200px;}
.top_a a:hover{color: orange;}
.center{width: 1600px;height: 265px;margin: 0 auto;font-size: 12px;}
.center input{width: 280px;height: 54px;font-size: 20px;color:#868686; padding-left: 20px;margin-right: 30px;float: left;}
.center_an{width: 598px;height: 60px;float: left;line-height: 60px;}
.center_an div{float: left;display: inline-block;}
.center_an input{width: 20px;height: 20px;line-height: 60px;display: inline-block;margin-left: 30px;margin-top: 20px;}
.in{width: 1600px;height: 209px;margin: 0 auto;}
.in input{width: 1576px;height: 179px;margin-top: 50px;}
.bottom{width: 1600px;height: 140px;margin: 0 auto;}
.bottom img{float: right;margin-top: 33px;}

.map{width: 1920px;height: 550px; background: url(../images/folio_contact/Folio_contact_2.png) no-repeat center center; background-size: 100%;}
.map:hover{ background-size: 180%; transition:all 0.7s linear;}

.bottom_nav{width: 1920px;height: 240px;}
.bottom_nav_box1{width: 152px;float: left;text-align: center;padding-top: 60px;}
.bottom_nav_box2{float: left;/*text-align: center;*/padding-top: 60px;border-top: 2px solid #171717;}
.bottom_nav .bn_2{float: left; font-size: 18px;color: #fff;margin-left: 60px;}
.bottom_nav .bn_3{float: left;margin-left: 140px; font-size: 18px;color: #3ddebe;}
.bottom_nav .bn_3 span{color: #737373;}
.bottom_nav .bn_3 a{color: #3ddebe;}
.bottom_nav .bn_3 span:hover{color: #3ddebe;}

.bottom_nav .bn_4{float: left; font-size: 18px;color: #fff;margin-left: 150px;}
.bottom_nav .bn_5{ color: #737373; width: 190px;float: left;margin-left: 100px;line-height: 36px;}
.bottom_nav .bn_5 a:hover{color: orange;}
.bottom_nav .bn_5 a{color: #787878;}
.bottom_nav .bn_6{float: left; font-size: 18px;color: #fff;margin-left: 150px;}
.bottom_nav .bn_7{margin-left: 300px; color: #787878; float: left; line-height: 36px;}
.bottom_nav .bn_7 a{color: #787878;}
.bottom_nav .bn_7 a:hover{color: #e35087;}
.bottom_nav .bn_8{margin-left: 30px; color: #787878; float: left; line-height: 36px;}
.bottom_nav .bn_8 a{color: #787878;}
.bottom_nav .bn_8 a:hover{color: #e35087;}
.bottom_nav .bn_8 a:nth-child(1){color: #e35087;}
