*{margin: 0;padding: 0;}
li{list-style:none;}
a{text-decoration: none;}
body{font-family: "微软雅黑";color: #fff;background-color: #000;}
.nav{height: 85px;}
.nav .logo{float: left;margin-top: 25px;margin-left: 68px;}
.nav_nav{float: left;width: 1603px;margin-left: 68px;}
.nav_nav1{float: left;margin-top: 28px;font-size: 18px;color: #fff;}
.nav_li{float: right;}
.nav_li ul li{display: inline-block;color: #fff;font-size: 18px;padding: 28px 30px 25px;}
.nav_li ul li:hover{border-bottom: 7px solid #41f5ef;color: #41f5ef;transition: all 0.3s linear;}

.top{position: relative; width: 1600px;height: 894px;margin: 0 auto;margin-bottom: 90px; background:url(../images/folio_blog/Folio_blog_1.png)no-repeat center center;background-size: 100%;}
.top:hover{background-size: 120%; transition:all 0.7s linear;}
.top span{font-size:50px;position: absolute;bottom: 80px;left: 70px;}
.wz{width: 1600px;height: 262px;margin:0 auto;}
.wz1{width: 185px;float: left;font-size: 50px;}
.wz2{width: 1275px;float: left;font-size: 21px;}
.wz2 span{font-size: 16px;color: #5c5c5c;}
.wz3{width: 110px;float: left;padding-top: 25px;}

.top2{position: relative; width: 1600px;height: 894px;margin: 0 auto;margin-bottom: 90px; background:url(../images/folio_blog/Folio_blog_2.png)no-repeat center center;background-size: 100%;}
.top2:hover{background-size: 120%; transition:all 0.7s linear;}
.top2 span{font-size:50px;position: absolute;bottom: 80px;left: 70px;}
.top3{position: relative; width: 1600px;height: 894px;margin: 0 auto;margin-bottom: 90px; background:url(../images/folio_blog/Folio_blog_3.png)no-repeat center center;background-size: 100%;}
.top3:hover{background-size: 120%; transition:all 0.7s linear;}
.top3 img{position: absolute;top: 425px;left: 800px;}

.dj{width: 211px;height: 122px;margin-left: 160px;}
.dj div{float: left;margin-right: 35px;}

.bottom_nav{width: 1920px;height: 240px;}
.bottom_nav_box1{width: 152px;float: left;text-align: center;padding-top: 60px;}
.bottom_nav_box2{float: left;/*text-align: center;*/padding-top: 60px;border-top: 2px solid #171717;}
.bottom_nav .bn_2{float: left; font-size: 18px;color: #fff;margin-left: 60px;}
.bottom_nav .bn_3{float: left;margin-left: 140px; font-size: 18px;color: #3ddebe;}
.bottom_nav .bn_3 span{color: #737373;}
.bottom_nav .bn_3 a{color: #3ddebe;}
.bottom_nav .bn_3 span:hover{color: #3ddebe;}

.bottom_nav .bn_4{float: left; font-size: 18px;color: #fff;margin-left: 150px;}
.bottom_nav .bn_5{ color: #737373; width: 190px;float: left;margin-left: 100px;line-height: 36px;}
.bottom_nav .bn_5 a:hover{color: orange;}
.bottom_nav .bn_5 a{color: #787878;}
.bottom_nav .bn_6{float: left; font-size: 18px;color: #fff;margin-left: 150px;}
.bottom_nav .bn_7{margin-left: 300px; color: #787878; float: left; line-height: 36px;}
.bottom_nav .bn_7 a{color: #787878;}
.bottom_nav .bn_7 a:hover{color: #e35087;}
.bottom_nav .bn_8{margin-left: 30px; color: #787878; float: left; line-height: 36px;}
.bottom_nav .bn_8 a{color: #787878;}
.bottom_nav .bn_8 a:hover{color: #e35087;}
.bottom_nav .bn_8 a:nth-child(1){color: #e35087;}




















































































