*{margin: 0;padding: 0;}
li{list-style:none;}
a{text-decoration: none;}
body{font-family: "微软雅黑";}
.top_box{width: 1920px;height: 980px;background: url(../images/Folio/Foliotu1.png);border-bottom: 30px solid #d06932;}
/*导航*/
.top_nav{height: 106px;}
.top_nav div{float: left;}
.top_nav .logo{margin-top: 36px;margin-left: 69px;}
.top_nav .logo_bt{color: #fff;font-size: 18px; margin-top: 43px;margin-left: 48px;} 
.top_nav .dhl{ float: right;margin-right: 123px;width: 443px;height: 90px;}
.top_nav .dhl li{color: #fff;display: inline-block;padding: 40px 24px 30px;}
.top_nav .dhl li:hover{border-bottom:6px solid #2afcf0;color:#2afcf0;transition: all 0.3s linear}


.top_n{margin-top: 230px;margin-left: 158px;margin-bottom: 245px;}
.top_n span{color:#fff;font-size: 64px;}


.top_box3{width: 1600px;height: 100px;margin: 0 auto;}
.top_box3_1{width: 530px;float: left;color: #fff;border-top: 2px solid #fff;}
.top_box3_1 h5{margin:35px 0px 12px;}
.top_box3_2{width: 530px;float: left;color: #fff;border-top: 2px solid #fff;}
.top_box3_2 h5{margin:35px 0px 12px;}
.top_box3_3{width: 530px;float: left;color: #fff;border-top: 2px solid #fff;}
.top_box3_3 h5{margin:35px 0px 12px;}

.top_box3 div:hover{transition: all 0.5s; color: #43f3d0;border-top: 5px solid #43f3d0;}

/*zhong */
.center_box{width: 1920px;height: 1440px;}

.center_box div{float: left;width: 480px;height: 1440px;}
.center_box_1 .img1{width: 480px;height: 480px;background: url(../images/Folio/Folio_02.png) no-repeat center center;background-size:100%;}
.center_box_1 .img2{width: 480px;height: 960px;background: url(../images/Folio/Folio_3.png) no-repeat center center;background-size:100%;}

.center_box_2 .img1{width: 480px;height: 960px;background: url(../images/Folio/Folio_4.png) no-repeat center center;background-size:100%;}
.center_box_2 .img2{width: 480px;height: 480px;background: url(../images/Folio/Folio_5.png) no-repeat center center;background-size:100%;}


.center_box_3 .img1{width: 480px;height: 480px;background: url(../images/Folio/Folio_08.png) no-repeat center center;background-size:100%;}
.center_box_3 .img2{width: 480px;height: 960px;background: url(../images/Folio/Folio_6.png) no-repeat center center;background-size:100%;}

.center_box_4 .img1{width: 480px;height: 960px;background: url(../images/Folio/Folio_7.png) no-repeat center center;background-size:100%;;}
.center_box_4 .img2{width: 480px;height: 480px;background: url(../images/Folio/Folio_09.png) no-repeat center center;background-size:100%;}

.center_box_1 .img1:hover{background-size:150%;transition: all 1s;}
.center_box_1 .img2:hover{background-size:150%;transition: all 1s;}


.center_box_2 .img1:hover{background-size:150%;transition: all 1s;}
.center_box_2 .img2:hover{background-size:150%;transition: all 1s;}

.center_box_3 .img1:hover{background-size:150%;transition: all 1s;}
.center_box_3 .img2:hover{background-size:150%;transition: all 1s;}

.center_box_4 .img1:hover{background-size:150%;transition: all 1s;}
.center_box_4 .img2:hover{background-size:150%;transition: all 1s;}


.center_box_3 .img1 .img1_1{width: 300px;height: 200px; float: left; font-size: 33px;color:#fff;margin-top: 200px;margin-left: 90px;}
.center_box_3 .img1 .img1_1 img{float: left;margin-left: 125px;margin-top: 50px;}
.center_box_3 .img1 .img1_1 span{float: left;}

.bottom_box{width: 1920px; height: 816px;background-color: #0b0b0b;padding-top: 85px;}
.bottom_top{width: 1600px;height: 475px;margin-left: 150px;}

.bottom_top1{border-bottom: 2px solid #55acee; color: #fff; height: 193px;margin-bottom: 90px;}
.bottom_top2{border-bottom: 2px solid #363636; height: 196px;color: #fff;}

.bottom_top1_box1{float: left; width: 175px;font-size: 18px;}
.bottom_top1_box2{float: left; width: 570px;font-size: 26px;}
.bottom_top1_box2 span{font-size: 14px;color: #5c5c5c;}
.bottom_top1_box3 img{margin-top: 30px;margin-left: 20px;}
.bottom_top1_box3{ float: left; width: 155px;}

.bottom_top1_box4{float: left; width: 541px; font-size: 26px;}
.bottom_top1_box4 span{font-size: 14px;color: #5c5c5c;}

.bottom_top1_box5{float: left; width: 110px;margin-top: 30px;margin-left: 49px;}
.bottom_top1_box5 img{float: right;}


.bottom_top2_box1{float: left;font-size: 18px; width: 175px;}
.bottom_top2_box2{float: left;font-size: 18px; width: 438px;}
.bottom_top2_box2 span{font-size: 14px;color: #5c5c5c;}
.bottom_top2 a{color: #4e9dda;font-size: 16px;}

.bottom_top2_box3{margin-left: 44px; font-size: 18px; width: 450px;float: left;}
.bottom_top2_box3 span{font-size: 14px;color: #5c5c5c;}

.bottom_top2_box4{margin-left: 67px; float: left; width: 426px; font-size: 18px;}
.bottom_top2_box4 span{font-size: 14px;color: #5c5c5c;}


.bottom_nav{float: left; width: 1920px;height: 182px;margin-top: 78px;}

.bottom_nav .bn_1{float: left; margin-left: 68px;}
.bottom_nav .bn_2{float: left; font-size: 18px;color: #fff;margin-left: 60px;}
.bottom_nav .bn_3{float: left;margin-left: 140px; font-size: 18px;color: #3ddebe;}
.bottom_nav .bn_3 span{color: #737373;}
.bottom_nav .bn_3 a{color: #3ddebe;}
.bottom_nav .bn_3 span:hover{color: #3ddebe;}

.bottom_nav .bn_4{float: left; font-size: 18px;color: #fff;margin-left: 150px;}
.bottom_nav .bn_5{ color: #737373; width: 190px;float: left;margin-left: 100px;line-height: 36px;}
.bottom_nav .bn_5 a:hover{color: orange;}
.bottom_nav .bn_5 a{color: #787878;}
.bottom_nav .bn_6{float: left; font-size: 18px;color: #fff;margin-left: 150px;}
.bottom_nav .bn_7{margin-left: 300px; color: #787878; float: left; line-height: 36px;}
.bottom_nav .bn_7 a{color: #787878;}
.bottom_nav .bn_7 a:hover{color: #e35087;}
.bottom_nav .bn_8{margin-left: 30px; color: #787878; float: left; line-height: 36px;}
.bottom_nav .bn_8 a{color: #787878;}
.bottom_nav .bn_8 a:hover{color: #e35087;}
.bottom_nav .bn_8 a:nth-child(1){color: #e35087;}
